.home {
  text-align: start;
  padding: 50px;
  background-color: #f7f7f7;
  flex-grow: 1;
}

h3 {
  font-weight: normal;
  color: dimgrey;
}

input{
  width: 35%;
  border: 2px solid dimgrey;
  border-radius: 4px;
  padding-left: 5px;
  }
